<!-- footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h4 class="footer-title">NosWings.io</h4>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <a href="/register"><%- __('REGISTER') %></a>
                            </li>
                            <li>
                                <a href="/"><%- __('NEWS') %></a>
                            </li>
                            <li>
                                <a href="<%- links.forum %>"><%- __('FORUM') %></a>
                            </li>
                            <li>
                                <a href="<%- links.discord %>">Discord</a>
                            </li>
                            <li>
                                <a href="<%- links.launcher %>">Launcher</a>
                            </li>
                            <li>
                                <a href="<%- links.shop %>"><%- __('SHOP') %></a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h4 class="footer-title"><%- __('USEFUL_LINKS') %></h4>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>
                                <a href="https://www.elitepvpers.com/forum/nostale-pserver-advertising/4382669-en-fr-es-noswings-international-nostale-private-server.html">ElitePvPers (Community Forums)</a>
                            </li>
                            <li>
                                <a href="http://forum.ragezone.com/f115/nostale-noswings-international-server-1140186/">Ragezone (Community Forums)</a>
                            </li>
                            <li>
                                <a href="http://www.gtop100.com/topsites/MMORPG-And-MPOG/sitedetails/NosWings-Nostale-Private-Server-93402">GTOP 100 (Vote Website)</a>
                            </li>
                            <li>
                                <a href="http://www.rpg-paradize.com/site-Serveur+Prive+Nostale+-+NosWings-108093">RPG Paradize (Vote Website)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-social">
                <a href="https://www.youtube.com/channel/UCPAlBMeIsOhY9zlx4n3H7jQ" target="_blank" data-toggle="tooltip" title="youtube">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>
            <p>Copyright &copy; 2017
                <a href="https://noswings.io/" target="_blank">NosWings</a>.</p>
        </div>
    </div>
</footer>
<!-- /footer -->