<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="/" class="logo">
                        <img style="max-height: 35px;" src="/assets/img/logo.png" alt="NosWings - Logo">
                    </a>
                    <nav class="nav">
                        <ul>
                            <li>
                                <a><%- __('NEWS') %></a>
                            </li>
                            <li class="has-dropdown mega-menu mega-games">
                                <a><%- __('USEFUL_LINKS') %></a>
                                <ul>
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="<%- links.launcher %>">
                                                            <img src="/assets/img/menu/launcher.png" alt="Launcher">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="<%- links.discord %>">
                                                            <img src="/assets/img/menu/discord.png" alt="Discord">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="<%- links.forum %>">
                                                            <img src="/assets/img/menu/forum.png" alt="Forum">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="/shop">
                                                            <img src="/assets/img/menu/shop.png" alt="Shop">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="img">
                                                        <a href="<%- links.forum %>">
                                                            <img src="/assets/img/menu/support.png" alt="Support">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/ranking"><%- __('RANKING') %></a>
                            </li>
                            <li>
                                <a href="/join"><%- __('JOIN_US') %></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="nav navbar-right">
                    <ul>
                        <li class="hidden-xs-down has-dropdown">
                            <%- __('LANGUAGE') %>
                            <ul>
                                <li><a href="/en"><%= __('ENGLISH') %></a></li>
                                <li><a href="/fr"><%= __('FRENCH') %></a></li>
                            </ul>
                        </li>
                        <li class="hidden-xs-down">
                            <a href="/login"><%= __('LOGIN') %></a>
                        </li>
                        <li class="hidden-xs-down">
                            <a href="/register">
                                <button class="btn btn-warning"><%= __('REGISTER') %></button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>