<header id="header">
    <div class="container">
        <div class="navbar-backdrop">
            <div class="navbar">
                <div class="navbar-left">
                    <a class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="/" class="logo">
                        <img style="max-height: 35px;" src="/assets/img/logo.png" alt="NosWings - Logo">
                    </a>
                    <nav class="nav">
                        <ul>
                            <li>
                                <a href="<%- links.launcher %>"><i class="fa fa-download"></i> Launcher</a>
                            </li>
                            <li>
                                <a href="<%- links.discord %>"><i class="fa fa-discord"></i> Discord</a>
                            </li>
                            <li>
                                <a href="<%- links.forum %>"><i class="fa fa-comments"></i> Forum</a>
                            </li>
                            <li>
                                <a href="/ranking"><i class="fa fa-bar-chart"></i> <%- __('RANKING') %></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="nav navbar-right">
                    <ul>
                        <li class="hidden-xs-down has-dropdown">
                            <%- __('LANGUAGE') %>
                            <ul>
                                <li><a href="/en"><%- __('ENGLISH') %></a></li>
                                <li><a href="/fr"><%- __('FRENCH') %></a></li>
                                <li><a href="/es"><%- __('SPANISH') %></a></li>
                            </ul>
                        </li>
                        <li class="hidden-xs-down">
                            <a href="/login"><i class="fa fa-user-circle"></i> <%= __('LOGIN') %></a>
                        </li>
                        <li class="hidden-xs-down">
                            <a href="/register">
                                <button class="btn btn-warning"><%= __('REGISTER') %></button>
                            </a>
                        </li>
                            <li>
                                <a href="/status">
                                    <% if (online) { %>
                                    <span class="btn btn-success"><%- online %> <%- __('PLAYERS_ONLINE') %></span>
                                    <% } else { %>
                                    <%- __('SERVER_STATUS_OFF') %>
                                    <% } %>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>