<!DOCTYPE html>
<html lang="en">

<head>
    <% include shared/header.ejs %>
</head>

<body class="fixed-header">
    <!-- header -->
    <% include shared/nav.ejs %>
        <!-- /header -->

        <!-- main -->
        <section class="bg-inverse p-y-0">
            <div class="owl-carousel owl-slide full-height">
                <div class="carousel-item" style="background-image: url('/assets/img/news/christmas.png');">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption">
                        <div>
                            <h3 class="carousel-title">NosWings - Christmas</h3>
                            <p>You wanted a Christmas event on NosWings ? We made it !</p>
                            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="/" data-lightbox role="button">
                                <%- __('MORE_INFORMATION') %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/assets/img/news/halloween.png');">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption">
                        <div>
                            <h3 class="carousel-title">NosWings - Hallowings</h3>
                            <p>NosWings brings the Halloween Event on the server !</p>
                            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="/" data-lightbox role="button">
                                <%- __('MORE_INFORMATION') %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url('/assets/img/news/noswings.png');">
                    <div class="carousel-overlay"></div>
                    <div class="carousel-caption">
                        <div>
                            <h3 class="carousel-title">NosWings - Reborn</h3>
                            <p>The biggest update NosWings has known with most of the features added</p>
                            <a class="btn btn-primary btn-rounded btn-shadow btn-lg" href="/" data-lightbox role="button">
                                <%- __('MORE_INFORMATION') %>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- post -->
                        <div class="post post-md">
                            <div class="post-thumbnail">
                                <a href="">
                                    <img src="/assets/img/news/christmas.png" alt="Christmas Event on NosWings">
                                </a>
                            </div>
                            <div class="post-block">
                                <h2 class="post-title">
                                    <a href="">NosWings - Christmas Event</a>
                                </h2>
                                <div class="post-meta">
                                    <span>
                                        <i class="fa fa-clock-o"></i>
                                        Blowa - 23/12/2017</span>
                                </div>
                                <p>Bring a new event to NosWings</p>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="post post-md">
                            <div class="post-thumbnail">
                                <a href="https://forum.noswings.io/index.php?/topic/68-event-calendrier-de-lavent-noswings/">
                                    <img src="/assets/img/news/advent.png" alt="AdventCalendar Event on NosWings">
                                </a>
                            </div>
                            <div class="post-block">
                                <h2 class="post-title">
                                    <a href="https://forum.noswings.io/index.php?/topic/68-event-calendrier-de-lavent-noswings/">NosWings - AdventCalendar</a>
                                </h2>
                                <div class="post-meta">
                                    <span>
                                        <i class="fa fa-clock-o"></i>
                                        Clavs - 30/11/2017</span>
                                </div>
                                <p>Answer to questions and get a reward for that.</p>
                            </div>
                        </div>
                        <!-- post -->
                        <div class="post post-md">
                            <div class="post-thumbnail">
                                <a href="">
                                    <img src="/assets/img/news/halloween.png" alt="Halloween sur NosWings">
                                </a>
                            </div>
                            <div class="post-block">
                                <h2 class="post-title">
                                    <a href="">NosWings - Halloween is incoming !</a>
                                </h2>
                                <div class="post-meta">
                                    <span>
                                        <i class="fa fa-clock-o"></i>
                                        Blowa - le 24 Octobre 2017</span>
                                </div>
                                <p>Profitez en pour découvrir l'évènement Hallowings sur notre serveur !</p>
                            </div>
                        </div>
                        <div class="post post-md">
                            <div class="post-thumbnail">
                                <a href="https://youtu.be/7WnQjboj3L0">
                                    <img src="https://cdn.discordapp.com/attachments/352810727943307265/372041464445665280/Pikaz.png" alt="Vidéo de présentation du serveur privé nostale NosWings - Pikaz">
                                </a>
                            </div>
                            <div class="post-block">
                                <h2 class="post-title">
                                    <a href="https://youtu.be/7WnQjboj3L0">Vidéo de Présentation du serveur NosWings - by Pikaz</a>
                                </h2>
                                <div class="post-meta">
                                    <span>
                                        <i class="fa fa-clock-o"></i>
                                        Blowa - le 24 Octobre 2017</span>
                                </div>
                                <p>Découvrez au travers d'une vidéo les fonctionnalités de NosWings !</p>
                            </div>
                        </div>

                        <div class="pagination-results m-t-30">
                            <span>Showing 1 to 4 of 4 results</span>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">Previous</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- sidebar -->
                    <div class="col-lg-4">
                        <div class="sidebar">

                            <div class="widget widget-games">
                                <h5 class="widget-title">
                                    <%- __('OUR_RATES') %>
                                </h5>
                                <a href="#" style="background-image: url('/assets/img/widget/xp.png')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">XP</div>
                                        <div class="description">
                                            <h5 class="title">Rate x30</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="background-image: url('/assets/img/widget/gold.png')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">
                                            <%- __('GOLD') %>
                                        </div>
                                        <div class="description">
                                            <h5 class="title">Rate x30</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="background-image: url('/assets/img/widget/drop.png')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">DROP</div>
                                        <div class="description">
                                            <h5 class="title">Rate x5</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="background-image: url('/assets/img/widget/fairy.png')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">
                                            <%- __('FAIRY') %>
                                        </div>
                                        <div class="description">
                                            <h5 class="title">Rate x10</h5>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" style="background-image: url('/assets/img/widget/reput.png')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">REPUT</div>
                                        <div class="description">
                                            <h5 class="title">Rate x10</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- widget vote  -->
                            <div class="widget widget-games">
                                <h5 class="widget-title">VOTE</h5>
                                <!--  Gtop100  -->
                                <a href="http://www.gtop100.com/topsites/MMORPG-And-MPOG/sitedetails/NosWings-Nostale-Private-Server-93402?vote=1" style="background-image: url('https://static.noswings.fr/images/others/Vote.jpeg')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">GTOP 100</div>
                                    </div>
                                </a>
                                <!--  RPG PARADIZE  -->
                                <a href="https://www.rpg-paradize.com/?page=vote&vote=108093" style="background-image: url('https://static.noswings.fr/images/others/Vote.jpeg')">
                                    <span class="overlay"></span>
                                    <div class="widget-block">
                                        <div class="count">RPG PARADIZE</div>
                                    </div>
                                </a>
                            </div>
                            <!-- widget post  -->
                            <div class="widget widget-post">
                                <h5 class="widget-title">Discord</h5>
                                <iframe src="https://discordapp.com/widget?id=246980749146718208&theme=dark" width="350" height="500" allowtransparency="true"
                                    frameborder="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /main -->

        <section class="bg-secondary no-border-bottom p-y-80">
            <div class="container">
                <div class="heading">
                    <i class="fa fa-star"></i>
                    <h2>
                        <%- __('OUR_FEATURES') %>
                    </h2>
                    <p>
                        <%- __('OUR_FEATURES_DESCRIPTION') %>
                    </p>
                </div>
                <div class="owl-carousel owl-list">
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/nosmate.png" alt="<%- __('PET_PARTNER') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('PET_PARTNER') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('PET_PARTNER_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/shell.png" alt="<%- __('SHELL_CELLON') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('SHELL_CELLON') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('SHELL_CELLON_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/act4.png" alt="<%- __('ACT_4') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('ACT_4') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('ACT_4_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/combos.png" alt="<%- __('COMBOS') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('COMBOS') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('COMBOS_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/teamarena.png" alt="<%- __('TEAM_ARENA') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('TEAM_ARENA') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('TEAM_ARENA_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/content.png" alt="<%- __('UNIQUE_CONTENT') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('UNIQUE_CONTENT') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('UNIQUE_CONTENT_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/icebreaker.png" alt="<%- __('ICEBREAKER') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('ICEBREAKER') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('ICEBREAKER_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                    <div class="card card-review">
                        <a class="card-img">
                            <img src="/assets/img/features/instantbattle.png" alt="<%- __('INSTANT_BATTLE') %>">
                        </a>
                        <div class="card-block">
                            <h4 class="card-title">
                                <a>
                                    <%- __('INSTANT_BATTLE') %>
                                </a>
                            </h4>
                            <p>
                                <%- __('INSTANT_BATTLE_DESCRIPTION') %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-image">
            <div class="overlay"></div>
            <div class="container">
                <div class="video-play" data-src="https://www.youtube.com/embed/7WnQjboj3L0?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img class="embed-responsive-item" src="https://img.youtube.com/vi/7WnQjboj3L0/maxresdefault.jpg" alt="">
                        <div class="video-caption">
                            <h5>NosWings - Présentation du serveur</h5>
                            <span class="length">00:01</span>
                        </div>
                        <div class="video-play-icon">
                            <i class="fa fa-play"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer -->
        <% include shared/footer.ejs %>
            <!-- /footer -->

            <!-- vendor js -->
            <script src="/assets/plugins/jquery/jquery-3.2.1.min.js"></script>
            <script src="/assets/plugins/popper/popper.min.js"></script>
            <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

            <!-- plugins js -->
            <script src="/assets/plugins/lightbox/lightbox.js"></script>
            <script src="/assets/plugins/owl-carousel/js/owl.carousel.min.js"></script>
            <script>
                (function ($) {
                    "use strict";

                    // Full Width Carousel
                    $('.owl-slide').owlCarousel({
                        nav: true,
                        loop: true,
                        autoplay: true,
                        items: 1
                    });

                    // Recent Reviews
                    $('.owl-list').owlCarousel({
                        margin: 25,
                        nav: true,
                        dots: false,
                        loop: true,
                        autoplay: true,
                        autoplayTimeout: 3000,
                        responsive: {
                            0: {
                                items: 1
                            },
                            500: {
                                items: 2
                            },
                            701: {
                                items: 3
                            },
                            1000: {
                                items: 4
                            }
                        }
                    });

                    // lightbox
                    $('[data-lightbox]').lightbox();
                })(jQuery);
            </script>

            <!-- theme js -->
            <script src="/assets/js/theme.min.js"></script>
</body>

</html>