<!doctype html>
<html class="no-js" lang="">
<head>
    <% include shared/header.ejs %>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
<div id="page-container">
    <!--[if lt IE 8]>
    <p class="browserupgrade">Vous utilisez un <strong>vieux</strong> navigateur. S'il vous plaît <a
            href="http://browsehappy.com/">passez sur un navigateur plus récent</a> pour améliorer votre expérience.</p>
    <![endif]-->

    <% include shared/top_nav.ejs %>

    <!-- Main -->
    <main id="page-main" class="page-wide-container">
        <!-- Main navigation bar -->
        <nav class="main-nav">
            <ul class="nav-menu nav-menu-wide">
                <li class="menu-item">
                    <a href="#" class="menu-item-label">
                                            <span class="parent-link-wrapper">
                                              <i class="icon icon-news fa fa-newspaper-o"></i>
                                                Nouveautés
                                              </span>
                        <i class="arrow"></i>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="http://www.rpg-paradize.com/?page=vote&vote=108093" class="menu-item-label">
                                            <span class="parent-link-wrapper">
                                              <i class="icon icon-news fa fa-thumbs-up"></i>
                                              Votez pour nous !
                                            </span>
                        <i class="arrow"></i>
                    </a>
                </li>
                <li class="menu-item menu-item-primary menu-item-play">
                    <a href="<%- launcherLink; %>" role="button" class="login-trigger menu-item-label"
                       data-hash="#register">
                        Téléchargez notre launcher
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Feed -->
        <div class="main-content">
            <!-- Feed -->
            <div class="main-feed">
                <!-- News feed -->
                <section class="news-block">
                    <!-- Article feed -->
                    <% if (locals.news) { %>
                    <div class="news-block-layout">
                        <header class="news-block-header">
                            <a href="/news">Les dernières nouvelles</a>
                        </header>
                        <div class="news-feed">
                            <% for (var i = 0; i < news.length; i++) { %>
                            <article class="new">
                                <div class="image">
                                    <a class="img" href="<%- news[i].Link; %>">
                                        <div class="cover" data-more="Read more"
                                             data-desc="go to article to read more and discuss this article"></div>
                                        <img src="<%- news[i].Image; %>" alt="<%- news[i].Title; %>">
                                    </a>
                                </div>
                                <div class="text">
                                    <header class="header">
                                        <a class="title" href="<%- news[i].Link; %>">[<%- news[i].Tag; %>
                                            ] <%- news[i].Title; %></a>
                                        <div class="desc">
                                            <%- news[i].Description; %>
                                        </div>
                                    </header>
                                    <div class="info">
                                        <div class="info">
                                            <span><%- news[i].Date; %></span>
                                            <span>Categories: <a href="<%- news[i].Link; %>"><%- news[i].Tag; %></a></span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <% } %>
                        </div>
                    </div>
                    <% } %>
                </section>
            </div>
            <!-- Sidebar -->
            <div class="main-sidebar">
                <a href="<%- launcherLink; %>">
                    <img src="<%- staticDomain; %>/images/global/widgets/widget_launcher.png" alt="Launcher NosWings">
                </a>
                <a href="<%- forumDomain; %>">
                    <img src="<%- staticDomain; %>/images/global/widgets/widget_forum.png" alt="Forum NosWings">
                </a>
                <a href="http://discord.noswings.fr">
                    <img src="<%- staticDomain; %>/images/global/widgets/widget_discord.png" alt="Discord NosWings">
                </a>
            </div>
        </div>
    </main>
</div>
<% include shared/footer.ejs %>
<% include shared/scripts.ejs %>
</body>

</html>
